@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-block bg-primary/70 font-semibold text-white rounded-full px-3 duration-300  hover:bg-secondary/80 hover:shadow-lg;
  }
}

html {
  scroll-behavior: smooth;
}

.slick-slide > div {
  margin: 0 20px;
}

.slick-prev:before,
.slick-next:before {
  background-color: rgba(0, 84, 179, 0.444);
  border-radius: 5px;
  padding: 4px 4px 3px 4px;
}
